@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: monospace
	}
	body {
		@apply bg-dark text-main tracking-wide
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-bold
	}

	h1 {
		@apply text-3xl
	}

	h2 {
		@apply text-2xl
	}
	
	li {
		@apply cursor-pointer
	}

}

.parsedMarkdown p {
	margin-bottom: 16px
}

.parsedMarkdown h1 {
	margin-bottom: 24px;
	margin-top: 60px;
}

.parsedMarkdown h2 {
	margin-bottom: 24px;
	margin-top: 60px;
}
